.tt-active, .tt-active:hover {
    text-align: center;
    color: white;
    background: #d9534f;
    border-color: #d9534f;
    border-bottom-color: #a74a47;
}

.tt-active:hover {
    background: #d4413e;
    border-color: #d4413e;
}

.tt-list-total {
    position: absolute;
    color: gray; 
    font-size: 13px;
    right: 32px;
    top: 7px;
}

.tt-hide {
    display: none;
}

.tt-card-complete .timer-badge,
.tt-card-complete .timer-badge span,
.tt-card-complete .is-due-now,
.tt-card-complete .is-due-past {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff;
}
