.tt-active, .tt-active:hover {
    text-align: center;
    color: white;
    background: #d9534f;
    border-color: #d9534f;
    border-bottom-color: #a74a47;
}

.tt-active:hover {
    background: #d4413e;
    border-color: #d4413e;
}

.tt-list-total {
    position: absolute;
    color: gray; 
    font-size: 13px;
    right: 32px;
    top: 7px;
}

.tt-hide {
    display: none;
}

.tt-card-complete .timer-badge,
.tt-card-complete .timer-badge span,
.tt-card-complete .is-due-now,
.tt-card-complete .is-due-past {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
}

.tt-time-log-section .u-gutter span {
    margin-left: 3em;
}

.tt-time-log-section dl {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.tt-time-log-section dl:after {
    clear: both;
}

.tt-time-log-section dt:after {
    content: ": ";
}

.tt-time-log-section dt, .tt-time-log-section dd {
    float: left;
    margin: 0;
    padding: 0 0 5px 0;
}

.tt-time-log-section dt {
    clear: both;
    min-width: 5em;
}

.tt-tracked-today, .tt-tracked-today .badge-icon {
    color: #3a8e29;
    font-weight: bold;
}

.tt-unsaved, .tt-unsaved .badge-icon {
    color: #b84a38;
    font-weight: bold;
}
