.tt-active, .tt-active:hover {
    text-align: center;
    color: white;
    background: #d9534f;
    border-color: #d9534f;
    border-bottom-color: #a74a47;
}

.tt-active:hover {
    background: #d4413e;
    border-color: #d4413e;
}

.tt-list-total {
    float: right; 
    color: gray; 
    font-size: 13px;
}
